<!DOCTYPE html>
<html>
    <head>
        <title>error</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css">
            p{
                text-align: center;
                font-size: 40px;
                font-family: "Microsoft YaHei";
            }
            a{
                display: block;
                text-align: center;
                font-size: 40px;
                font-family: "Microsoft YaHei";
            }
        </style>
        
    </head>
    <body>
        <p>ERROR!</p>
        <p>服务器出现错误！</p>
    </body>
</html>